<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="sqlconn" connectionString="server=148.251.76.103;database=DhruvEnterprisesAPIDB;uid=DhruvEnterprises;password=Pay@10!!01Out@2023;Connection Timeout=1000" providerName="system.data.sqlclient" />
    <add name="DhruvEnterprisesDBEntities" connectionString="metadata=res://*/DhruvEnterprisesDBEntities.csdl|res://*/DhruvEnterprisesDBEntities.ssdl|res://*/DhruvEnterprisesDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=148.251.76.103;initial catalog=DhruvEnterprisesAPIDB;user id=DhruvEnterprises;password=Pay@10!!01Out@2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="sqlconn" connectionString="server=148.251.76.103;database=DhruvEnterprisesAPIDB;uid=DhruvEnterprises;password=Pay@10!!01Out@2023;Connection Timeout=1000" providerName="system.data.sqlclient" />-->
	  <add name="sqlconn" connectionString="Server=LAPTOP-AUDKRGCV\\SQLEXPRESS;Initial Catalog=DhruvEnterprisesAPIDB;Integrated Security=True;TrustServerCertificate=True;" />

	  <!--<add name="DhruvEnterprisesDBEntities" connectionString="metadata=res://*/DhruvEnterprisesDBEntities.csdl|res://*/DhruvEnterprisesDBEntities.ssdl|res://*/DhruvEnterprisesDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=DhruvEnterprisesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DhruvEnterprisesDBEntities" connectionString="metadata=res://*/DhruvEnterprisesDB.csdl|res://*/DhruvEnterprisesDB.ssdl|res://*/DhruvEnterprisesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=DhruvEnterprisesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>