@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied!</title>
</head>
<body>
    <hgroup>
        <h1 style="color:red">Access Denied!</h1>
        <h2>You are not authorize to access this page.</h2>

    </hgroup>

    <h3 style="color:darkblue" class="btn btn-primary"> <span class="btn btn-primary"> <a href="@Url.Action("Index","Account")">Click here to Login again. </a></span></h3>
</body>
</html>
