<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header id="header-id" class="main-header clearfix header-style-one">
        <div class="header-menu-wrap clearfix">
            <div class="container">
                <div class="brand-logo float-left">
                    <a href="/"><img src="/Content/images/logo/logo.png" alt="EZYTM TECHNOLOGIES'S logo" style="width:42%"></a>
                </div>
                <nav class="main-navigation-area d-inline-block clearfix ul-li">
                    <div class="menu">
                        <ul class="menu-navigation">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/about-us">About</a></li>
                            <li>
                                <a href="/Jobs">career</a>
                            </li>
                            <li><a href="/services">Services</a></li>


                            <li class="dropdown">

                                <a href="#">Feature</a>
                                <ul>
                                    <li>
                                        <a href="#" style="font-size: 15px; color: #121e2d; padding-bottom: 12px;">IT Products</a>
                                        <ul>
                                            <li><a href="/android"><i class="fas fa-mobile-alt pt-3" aria-hidden="true"></i><span>Android Apps Development </span></a></li>

                                            <li><a href="/web-design"><i class="fa fa-paint-brush pt-3" aria-hidden="true"></i><span>Website Design & Development</span> </a></li>
                                            <li><a href="/school-management"><i class="fas fa-graduation-cap pt-3" aria-hidden="true"></i><span>School Management Software</span> </a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" style="font-size: 15px; color: #121e2d; padding-bottom: 12px;">IT Products</a>
                                        <ul>
                                            <li><a href="/mobile-recharge-api"><i class="fas fa-qrcode pt-3" aria-hidden="true"></i><span>Recharge API </span></a></li>

                                            <li><a href="/utility-bill-payment-api"><i class="fas fa-lightbulb pt-3" aria-hidden="true"></i><span>Utility Bill Payment API</span> </a></li>
                                            <li><a href="/money-transfer"><i class="fas fa-hand-holding-usd pt-3" aria-hidden="true"></i><span>Money Transfer API</span> </a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" style="font-size: 15px; color: #121e2d; padding-bottom: 12px;">IT Products</a>
                                        <ul>
                                            <li><a href="/online-payment-gateway"><i class="fa fa-credit-card pt-3" aria-hidden="true"></i><span>Online Payment Gateway </span></a></li>

                                            <li><a href="/domain-hosting"><i class="fa fa-window-restore pt-3" aria-hidden="true"></i><span>Web Domain And Hosting</span> </a></li>
                                            <li><a href="/crm"><i class="fa fa-user-circle pt-3" aria-hidden="true"></i><span>CRM Software Solutions</span> </a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>

                            <li><a href="/portfolio">Portfolio</a></li>
                            <li><a href="/contact-us">Contact</a></li>

                        </ul>
                    </div>
                </nav>
                <div class="menu-side-option float-right d-flex">
                    <div class="tel-head-search">
                        <button class="search-box-outer"><i class="flaticon-loupe"></i></button>
                    </div>
                    <div style="color: white;">

                        <a href="/login" class="tel-head-login">

                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                    <div class="tel-head-sidebar">
                        <button class="sidebar-switcher"><i class="flaticon-menu"></i></button>
                    </div>

                    <div class="mobile_menu position-relative ">
                        <div class="mobile_menu_button open_mobile_menu">
                            <i class="flaticon-menu"></i>
                        </div>
                        <div class="mobile_menu_wrap">
                            <div class="mobile_menu_overlay open_mobile_menu"></div>
                            <div class="mobile_menu_content">
                                <div class="mobile_menu_close open_mobile_menu">
                                    <i class="flaticon-close"></i>
                                </div>
                                <div class="m-brand-logo">
                                    <a href="/"><img src="/Content/images/logo/logo.png" alt="brand logo" style="width:20%"></a>
                                </div>
                                <nav class="mobile-main-navigation  clearfix ul-li">
                                    <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li><a href="/about-us">About</a></li>
                                        <li>
                                            <a href="/Jobs">career</a>

                                        </li>
                                        <li><a href="/services">Services</a></li>

                                        <li class="dropdown">

                                            <a href="#">Feature</a>
                                            <ul>
                                                <li>
                                                    <a href="#" style="font-size: 15px; color: #e7008b; padding-bottom: 12px;">IT Products</a>
                                                    <ul>
                                                        <li><a href="/android"><i class="fas fa-mobile-alt pt-3" aria-hidden="true"></i><span>Android Apps Development </span></a></li>

                                                        <li><a href="/web-design"><i class="fa fa-paint-brush pt-3" aria-hidden="true"></i><span>Website Design & Development</span> </a></li>
                                                        <li><a href="/school-management"><i class="fas fa-graduation-cap pt-3" aria-hidden="true"></i><span>School Management Software</span> </a></li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a href="#" style="font-size: 15px; color: #e7008b; padding-bottom: 12px;">IT Products</a>
                                                    <ul>
                                                        <li><a href="/mobile-recharge-api"><i class="fas fa-qrcode pt-3" aria-hidden="true"></i><span>Recharge API </span></a></li>

                                                        <li><a href="/utility-bill-payment-api"><i class="fas fa-lightbulb pt-3" aria-hidden="true"></i><span>Utility Bill Payment API</span> </a></li>
                                                        <li><a href="/money-transfer"><i class="fas fa-hand-holding-usd pt-3" aria-hidden="true"></i><span>Money Transfer API</span> </a></li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a href="#" style="font-size: 15px; color: #e7008b; padding-bottom: 12px;">IT Products</a>
                                                    <ul>
                                                        <li><a href="/online-payment-gateway"><i class="fa fa-credit-card pt-3" aria-hidden="true"></i><span>Online Payment Gateway </span></a></li>

                                                        <li><a href="/domain-hosting"><i class="fa fa-window-restore pt-3" aria-hidden="true"></i><span>Web Domain And Hosting</span> </a></li>
                                                        <li><a href="/crm"><i class="fa fa-user-circle pt-3" aria-hidden="true"></i><span>CRM Software Solutions</span> </a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                        <li><a href="/portfolio">Portfolio </a></li>
                                        <li><a href="/contact-us">Contact</a></li>
                                        <!-- <li class="dropdown">
                                            <a href="%21.html#">News</a>
                                            <ul class="dropdown-menu clearfix">
                                                <li><a href="blog.html">News </a></li>
                                                <li><a href="blog-single.html">News Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="%21.html#">Others</a>
                                            <ul class="dropdown-menu clearfix">
                                                <li><a href="portfolio.html">Portfolio </a></li>
                                                <li><a href="404.html">404 Page </a></li>
                                                <li><a href="portfolio-single.html">Portfolio Details</a></li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Mobile-Menu -->
                    </div>
                    <div class="search-popup">
                        <button class="close-search style-two"><span class="flaticon-close"></span></button>
                        <button class="close-search"><span class="fa fa-arrow-up"></span></button>
                        <form>
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search Here" required="">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
    </header>


</body>
</html>